* {
    font-family: 'Montserrat';
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .title {
    font-weight: 900;
    font-size: 43px;
    background: linear-gradient(45deg, blueviolet, #ff1493a1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container .cv {
    width: 150px;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(45deg, blueviolet, #ff1493a1);
    color: #ffff !important;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;

}

.container .cv:hover {
    border: solid 1px rgb(255, 255, 255);
    color: #000000 !important;
}

.container .avatar img {
    width: 130px;
    border-radius: 50% !important;
    border: 2px solid #202124;
}

.container .desc {
    text-align: center;
    width: 400px;
    line-height: 2;
    font-style: italic;
    font-size: 12px;
}

.media {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
}

.media a img {
    width: 30px;
}

#link {
    background: white;
    border-image: none;
    border-radius: 3px;
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.toggle-label {
    margin-right: 8px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border-radius: 10px;
    transition: 0.4s;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
}

input:checked+.toggle-slider {
    background-color: blueviolet;
    /* background: linear-gradient(45deg, blueviolet, #ff1493a1); */
}

input:checked+.toggle-slider:before {
    transform: translateX(20px);
}
@media only screen and (max-width: 768px) {
    /* Styles à appliquer pour les dispositifs mobiles */
    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 769px) {
    /* Styles à appliquer pour les ordinateurs de bureau */
    .container {
        
    }
}